.button {
	margin-left: 20px;
	height: 50px;
	cursor: pointer;
	background-color: #f7770e;
	font-size: clamp(14px, 2vw, 24px);
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	border: 1px solid transparent;
	color: white;
}
.button:hover {
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(238, 4, 4);
	color: #f7770e;
}
.button:active {
	background-color: rgb(253, 0, 0);
	border: 1px solid rgb(255, 255, 255);
	color: black;
}
.todoListContainer {
	padding: 10px;
}

.block_2_text {
	color: #f7770e;
	animation: slideGradientUpBlock2 1.5s ease 0s 1 normal forwards;
}
@keyframes slideGradientUpBlock2 {
	0% {
		opacity: 0;
		transform: translateX(-280px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.block_2_form {
	animation: slideGradientRightBlock1 1.5s ease 0s 1 normal forwards;
}
@keyframes slideGradientRightBlock1 {
	0% {
		opacity: 0;
		transform: translateX(-130px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.block_2 {
	width: 1000px;
	max-width: 98%;
	padding: 10px;
	margin: 0 auto;
}
.block_2_bg {
	background-image: url("ContourLine.svg");
	background-size: cover; /* или используй 100% 100%, чтобы изображение растягивалось на весь элемент */
	background-repeat: no-repeat; /* чтобы изображение не повторялось */
}
