.button {
	margin-left: 20px;
	height: 50px;
	cursor: pointer;
	background-color: #f7770e;
	font-size: clamp(14px, 2vw, 24px);
	padding: 10px 15px;
	border: 1px solid var(--borderPink);
	border-radius: 5px;
	color: white;
	box-shadow: var(--boxShadow);
}
.button:hover {
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(0, 0, 0);
	transition: 0.5s;
	color: #f7770e;
}
.button:active {
	background-color: rgb(0, 0, 0);
	border: 2px solid rgb(255, 255, 255);
	color: black;
	transition: 0.5s;
}
.todoListContainer {
	padding: 10px;
}

.block_2_text {
	color: #f7770e;
	animation: slideGradientUpBlock2 1.5s ease 0s 1 normal forwards;
}
@keyframes slideGradientUpBlock2 {
	0% {
		opacity: 0;
		transform: translateX(-280px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.block_2_form {
	animation: slideGradientRightBlock1 1.5s ease 0s 1 normal forwards;
}
@keyframes slideGradientRightBlock1 {
	0% {
		opacity: 0;
		transform: translateX(-130px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.block_2 {
	width: 1000px;
	max-width: 98%;
	padding: 10px;
	margin: 0 auto;
}
.block_2_bg {
	background-image: url("ContourLine.svg");
	background-size: cover; /* Покрывает всю доступную область без искажения */
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh; /* Минимальная высота элемента, например, 100% от высоты видимой части экрана */
}
